/* Mostly project defaults */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Gateway list */
.gateway-list {
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
}

.gateway-list thead {
  background-color: cornsilk;
}

.gateway-list th {
  text-align: center;
}

.gateway-list thead > :last-child > th {
  border-bottom: 1px solid lightgrey;
}

.gateway-list th {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.gateway-list td {
  padding: 1rem;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.gateway-list tbody > :nth-child(6n + 3),
.gateway-list tbody > :nth-child(6n + 4),
.gateway-list tbody > :nth-child(6n + 5) {
  background-color: whitesmoke;
}

.gateway-list button {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gateway-list tbody tr:hover {
  background-color: lightgray;
}

.gateway-list tbody tr:hover > td {
  background-color: lightgray;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.gateway-list button
/* Gateway Detail Timeline */

.gateway-stats-timeline {
  position: relative;
}

.gateway-stats-timeline-table {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-spacing: 0;
  border-radius: 25px;
  overflow: hidden;
}

.gateway-stats-timeline-table > tbody > tr:hover {
  outline: 1px solid grey;
}

.gateway-stats-timeline-table > thead > tr > th {
  min-width: 6rem;
  padding: 1rem;
  background-color: darkslategrey;
  border-bottom: 1px solid black;
}

.gateway-stats-timeline-table > tbody > tr {
  height: 18px;
  font-size: 12px;
}

.gateway-stats-timeline-table-body > tr,
.gateway-stats-timeline-table-body > tr > td {
  border: none;
  text-align: center;
}

.gateway-stats-timeline-table-body > tr > td > span {
  color: black;
  padding: 2px 2px;
}

.gateway-stats-timeline-table-body-active {
  background-color: lightgreen;
}

.gateway-stats-timeline-table-body-inactive {
  background-color: rosybrown;
}

.gateway-stats-timeline-table-body-unstable {
  background-color: burlywood;
}

.gateway-stats-timeline-table-body-offline {
  background-color: lightgrey;
}

.gateway-stats-timeline-table-body-timestamp,
.gateway-stats-timeline-table-body-notes {
  background-color: white;
  color: black;
}
